body,
html {
  /* background-color: violet; */
  /* background: #3a4750; */
  /* background: #ffffff; */

  background: #000000;
  background: linear-gradient(
    90deg,
    rgb(255, 254, 220) 6%,
    rgb(248, 245, 215) 34%,
    rgb(250, 247, 221) 100%
  );
}

#grid-container {
  /* background-color: black; */
  display: grid;

  grid-template-areas:
    "a a a a a a a a a a"
    "b b b b b b b b b b"
    "c c c c c c c c c c"
    "d d d d d d d d d d"
    "e e e e e e e e e e"
    "f f f f f f f f f f"
    "g g g g g g g g g g";
}

#headersection {
  grid-area: a;
}

#headersection {
  display: flex;
  flex-direction: column;
}

#headersection h1,
#headersection > a {
  display: inline-block;
}

#headersection > div,
#headersection {
  width: 100%;
}

#headersection {
  display: flex;
  flex-direction: column;
}

#headersection::before {
  content: "";
}

#headersection > h1,
#headersection > a {
  margin: 0;
}

.top-title {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-title > h1 {
  color: yellow;
  margin-left: 15px;
}

.top-title a {
  color: yellow;
  font-size: 30px;
  text-decoration: none;
  margin-right: 25px;
  margin-top: 25px;
}

.top-title a:hover {
  background-color: yellow;
  font-size: 35px;
}

#divNav {
  display: flex;
  background-color: black; /* Dark background color */
  color: white; /* Light text color for contrast */
  text-align: center; /* Center the content */
  padding: 10px 0; /* Add space above and below the content */
  width: 100%; /* Ensure the footer spans the full width */
  font-size: 14px; /* Adjust font size */
  justify-content: space-evenly;
  position: sticky;
  border-color: yellow;
}

#divNav a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

#divNav a:hover {
  color: yellow;
}

#aboutme-section {
  grid-area: c;
  text-align: center;
  margin-top: 20px;
  
}

#aboutmesectiontag {
  text-decoration: underline;
  font-size: 30px;
}

#mybioselftagaboutme {
  font-size: 25px;
  /* text-align: justify;
  text-justify:inter-word; */
  font-family: "Georgia", serif;
  line-height: 1.5;
  border: 1px solid #ddd;
  text-indent: 30px;
  text-align: center;
}

#aboutme-section h1 {
  font-family: cursive;
}

#header-projsection {
  grid-area: d;

  color: black;
  text-align: center;
}

#project-section {
  grid-area: e;
  display: flex;
  flex-wrap: flex;
  justify-content: space-around;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  /* background-color: greenyellow; */
  background: #000000;
  background: linear-gradient(
    90deg,
    rgb(255, 254, 220) 6%,
    rgb(248, 245, 215) 34%,
    rgb(250, 247, 221) 100%
    )
}

.myprojects {
  padding-top: 60px;
  padding-bottom: 60px;
  flex: 100%;
  width: 80%;
  background-color: white;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.myprojects blockquote {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  border-radius: 90px;
  border-color: black;
}

.myprojects p {
  text-align: center;
  padding: 10px 20px;
}
#myfooter-last {
  grid-area: f;
  
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #333; /* Dark background color */
  color: white; /* Light text color for contrast */
  text-align: center; /* Center the content */

  font-size: 14px; /* Adjust font size */

  /* grid-area: d; */
}

#myfooter-last p {
  color: yellow;
  text-decoration: none;
  font-style: italic;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  #grid_container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
      "a a a a a a a a a a "
      "b b b b b b b b b b"
      "c c c c c c c c c c"
      "d d d d d d d d d d"
      "e e e e e e e e e e "
      "f f f f f f f f f f ";
  }

  #divNav {
    background-color: black;
    font-size: 50px;
    text-decoration: none;
  }

  #project-section {
    flex-wrap: wrap;
  }

  #project-section {
    flex-wrap: wrap;
  }

  .myprojects {
    padding-top: 60px;
    padding-bottom: 60px;
    flex: 0 0 100%;
    text-align: center;
  }

  #divNav > a {
    text-decoration: none;
    color: white;
    font-style: italic;
  }

  #myfooter-last {
    position: relative;
  }
}
